[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
flask = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
werkzeug = "*"
statsmodels = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.connexion]
extras = [ "swagger-ui",]
